<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="org.openmrs.mobile">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<!-- Needed for syncing -->
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />>

	<uses-feature
			android:name="android.hardware.camera"
			android:required="false" />
	<uses-feature
			android:name="android.hardware.camera.autofocus"
			android:required="false" />

	<application
			android:name=".application.OpenMRS"
			android:allowBackup="true"
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name"
			android:roundIcon="@drawable/ic_launcher"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">
		<activity
				android:name=".activities.patientlist.PatientListActivity"
				android:label="@string/app_name"
				android:theme="@style/AppTheme"
				android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
				android:name=".activities.capturevitals.CaptureVitalsActivity"
				android:parentActivityName=".activities.visit.VisitActivity"
				android:screenOrientation="portrait">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".activities.visit.VisitActivity" />
		</activity>
		<activity android:name=".activities.addeditpatient.AddEditPatientActivity"
				android:screenOrientation="portrait"/>
		<activity android:name=".activities.findpatientrecord.FindPatientRecordActivity"
				android:screenOrientation="portrait"/>
		<activity android:name=".activities.settings.SettingsActivity"
				android:screenOrientation="portrait"/>
		<activity android:name=".activities.patientdashboard.PatientDashboardActivity"
				android:screenOrientation="portrait"/>
		<activity android:name=".activities.login.LoginActivity"
				android:screenOrientation="portrait"/>
		<activity android:name=".activities.loginsync.LoginSyncActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".activities.addeditvisit.AddEditVisitActivity"
				android:screenOrientation="portrait"/>
		<activity android:name=".activities.auditdata.AuditDataActivity"
				android:screenOrientation="portrait"/>
		<activity
				android:name=".activities.visit.VisitActivity"
				android:screenOrientation="portrait"
				android:parentActivityName=".activities.patientdashboard.PatientDashboardActivity">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value=".activities.patientdashboard.PatientDashboardActivity" />
		</activity>

	</application>

</manifest>